body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, red, blue);
  gap: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
  display: inline-block;
  position: relative;
  background: white;
  width: clamp(300px, 50vw, 360px);
  height: 80vh;
  border-radius: 8px;
}

.card__content{
  position: relative;
  background: orange ;
  color: white;
  height: 75%;
  padding: 5%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.card__content__description{
  position: relative;
}

.card__content__description p{
  font-size: 0.9em;
}

.card__content__header{
  position: relative;
}

.card__content__header span{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
}

.span__backdrop{
  position: absolute;
  font-size: 14rem;
  font-weight: bold;
  margin: -25px 0 0 0;
  line-height: 100%;
  letter-spacing: 24px;
  bottom: 30px;
  left: -15px;
  color: white;
  opacity: 50%;
}

.card__actions{
  padding: 5%;
  text-align: center;
  height: 25%;
}

.btn{
  padding: 8px 16px;
  margin: 0 auto 8px auto;
  background: blue;
  color: white;
  min-height: 36px;
  border: 2px solid blue;
  border-radius: 36px;
  position: relative;
  z-index: 2;
}

.btn--outline:hover{
  background: white;
  color: blue;
}

.label{
  display: block;
  font-size: 0.7rem;
  color: grey;
  line-height: 1.2em;
  letter-spacing: 8px;
}

.thumbnail{
  top: 26vh;
  position: absolute;
  width: 120%;
}