
.social_media {
  width: 100%;
  padding: 3em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    margin: 0 0.5em;
  }

  .subscription {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    span {
      color: white;
      font-size: 0.8em;
      display: block;
      padding: 8px 16px;
      border: 2px solid  rgba(247, 238, 227, 1);
      border-radius: 4px 0 0 4px;
    }

    button {
      border-radius: 0 4px 4px 0;
    }
  }
}

.footer_menu {
  color: white;
  width: 100%;
  padding: 5em 1em 2em;

  &__submenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: flex-start;
    align-items: flex-start;
  }

  h6 {
    font-weight: bold;
    margin-bottom: 0.8em;
  }

  a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  }
}

.footer_info {
  width: 100%;
  padding: 0 1em;

  &__item {
    color: white;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
}