@import "../mixins";

.card {
	@include flex(null, center);
	@include fontSize(0.8);
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	
	img {
		width: 100%;
		height: auto;
	}

	a {color: black}

	&_header {
		position: relative;

	}

  &_label {
    h6 {
			font-weight: bold}
			font-size: 1em;
    }
    span {color: rgba(156, 156, 156, 1);
		}
}

.product_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__container {
		display: flex;
		gap: 1em;
		margin-bottom: 1.5em;

		&--column {
			display: flex;
			flex-direction: column;

			.btn_warning {
				align-self: flex-end;
			}
		}
	}

	.checkbox {
		display: flex;
		align-items: center;
		color: gray;
	}

	@media screen and (max-width:1024px) {
		width: calc(100% - 8px);
	}
}