@import "../mixins";

.card {
	@include flex(null, center);
	@include fontSize(0.8);
	flex-direction: column;
	align-items: flex-start;
	
	img {
		width: 100%;
		height: auto;
	}

	a {color: black}

  &_label {
    h6 {
			font-weight: bold}
			font-size: 1em;
    }
    span {color: rgba(156, 156, 156, 1);
		}
}
